/*
#2274A5
LAPIS LAZULI

#F75C03
WILLPOWER ORANGE

#F1C40F
JONQUIL

#D90368
DOGWOOD ROSE

#00CC66
GO GREEN
*/
/*
* {
  box-sizing: border-box;
}
*/

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

input {
  display: none;
}

input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
  background-color:#2DB4D4;
  color: white;
}

header {
  margin-top: 5rem;
  margin-bottom: 10px;
}

a, header > div, nav label {
  border: 4px solid #2DB4D4;
  border-radius: 0.4rem;
  
  padding: 0.5rem 1.5rem;
  
  min-width: 15.5rem;
  max-height: 3.3rem;
  
  text-decoration: none;

  color: #2DB4D4;
  font-weight: bold;
  text-align: center;
}

select {
  border: none;
  
  background-color: transparent;
  color: #2DB4D4;
  font-weight: bold;
  font-size: 1.2rem;

  outline: 0;
}

header, nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

nav ul {
  list-style: none;
  display: flex;
}

article {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-bottom: 2px solid rgba(29, 29, 38, 0.05);
}

article > details {
  width: 100%;  

  display: flex;
  justify-content: flex-end;
}
