header {
  padding-top: 5rem;
  padding-bottom: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  background-color: rgba(34, 117, 165, 0.53)
}

header > div {
  flex: 1 1 0%;

  display: flex;
  justify-content: center;
}

header select {
  font-size: 1.8rem;
}

nav {
  margin-bottom: 5rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav > div:first-child {
  display: flex;
  flex-wrap: wrap;
}

nav label {
  margin-right: 1.5rem;
}

article {
  border-bottom: 2px solid rgba(29, 29, 38, 0.05);
  margin-bottom: 0.5rem;
  background-color: rgba(255, 127, 80, 0.35)
}

article > div:first-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-top: 2px solid rgba(29, 29, 38, 0.05);
}

article > div:first-child > div:first-child {
  display: flex;
  flex-direction: column;
  
}

article > div:last-child {
  display: flex;
  justify-content: flex-end;
}

summary {
  border-top: 1px solid rgba(29, 29, 38, 0.05);
  background-color: rgba(255, 127, 80, 0.67)
}
