header {
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

header > div {
  flex: 1 1 0%;
}

header select {
  font-size: 1.8rem;
}

nav {
  margin-bottom: 5rem;
  
  display: flex;
  flex-wrap: wrap;
}

nav > div:first-child {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
}

nav label {
  margin-right: 1.5rem;
}

article {
  border-bottom: 2px solid rgba(29, 29, 38, 0.05);
  margin-bottom: 0.5rem;
}

article > div:first-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-top: 2px solid rgba(29, 29, 38, 0.05);
}

article > div:first-child > div:first-child {
  display: flex;
  flex-direction: column;
  
}

article > div:last-child {
  display: flex;
  justify-content: flex-end;
}

summary {
  border-top: 1px solid rgba(29, 29, 38, 0.05);
}
