/*
#2274A5
LAPIS LAZULI

#F75C03
WILLPOWER ORANGE

#F1C40F
JONQUIL

#D90368
DOGWOOD ROSE

#00CC66
GO GREEN
*/

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  }

header, nav, article {
  display: flex;
  flex-wrap: wrap;
}

header, nav {
  justify-content: space-between;
  align-items: flex-end;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0 0;
  padding: 0 0;
}

article {
  justify-content: space-between;
}

article > div:nth-child(3) {
  width: 100%;

  display: flex;
  justify-content: flex-end;
}

article a {
  margin-left: auto;
}