So, you want to add a new note. You have to <input id="content"/>,
you call your task <input id="title"/> and you have to do it by
<input type="date" id="due-date">.

It is
<select id="importance">
  <option value="1">very much not </option>
  <option value="2">not really </option>
  <option value="3">somehow </option>
  <option value="4">pretty, pretty </option>
  <option value="5">outerworldly</option>
</select>
important.

Allright, save your note by pressing <a href="#main" id="submit">this button</a>.
Or maybe, you changed your mind...<a href="#main">go back to your notes</a>.