Welcome to the Notes-App. Today, you have
<span id="count" class="mutable">three</span>
open notes.
You can sort your notes, right now they are sorted by
<span class="mutable drop sortBy">
<select>
  <option>due date</option>
  <option>created at</option>
  <option>importance</option>
</select>
due date
</span>.
You can also change the style of this site, which is currently in <span class="mutable drop">day-mode</span>.
You are currently <span class="mutable drop">not showing</span> your finished notes.
You want to add a note? <a href="#add">Over there!</a>
Well and now...here are your notes:<br>

<main>
Note<br>
Note<br>
Note
</main>

So, you want to add a new note. You have to <input />,
you call your task <input /> and you have to do it by
<input type="date">. It is {{ very }} important.
Allright, save your note by pressing <a href="">this button</a>.
Or maybe, you changed your mind...<a href="">press this button</a>.
And then...<a href="#main">go back to your notes</a>.
