@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html {
  box-sizing: border-box;
  
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  max-width: 550px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(214, 224, 230)
}

body.night  {
  background-color: rgba(0, 0, 0, 0.72);
  color: rgb(122, 102, 64);
}

#app {
  max-width: 550px;
  min-height: 100vh;
  margin: 1.5rem;
  padding: 1rem 1rem 1rem;
  
  background-color: rgb(245, 247, 255);
  box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.19);
}

#app.night {
  background-color: rgba(0, 0, 0, 0.72);
}

#app > div {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

#app > div > img {
  border-radius: 100%;
  border: 1px solid black;
}
header {
  padding: 5rem 1rem 2.5rem;display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  background-color: rgb(214, 224, 230)
}

header > div {
  flex: 1 1 0%;

  display: flex;
  justify-content: center;
}

header select {
  font-size: 1.5rem;
}

nav {
  margin-bottom: 5rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav > div:first-child {
  display: flex;
  flex-wrap: wrap;
}

nav label {
  margin-right: 1.5rem;
}

article {
  border-bottom: 2px solid rgba(29, 29, 38, 0.05);
  margin: 0 1rem 2rem;
  padding: 0.5rem 2rem;
  background-color: white;
  box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.19);
}

article > div:first-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

article > div:first-child > div:first-child {
  display: flex;
  flex-direction: column;
  
}

article > div:last-child {
  display: flex;
  justify-content: flex-end;
}

article a {
  font-size: 1.4rem;
  margin: 0.5rem;
  padding: 0.5rem;

  transition: background-color 0.5s ease;
}

article a:hover {
  background-color: rgb(230, 230, 230)
}

summary {
  border-top: 1px solid rgba(29, 29, 38, 0.05);
  background-color: rgb(247, 247, 247);
  padding: 0.2rem 1rem;
}

details > p {
  padding: 1rem 3rem;
  background-color: rgb(247, 247, 247);
}

form {
  padding: 2rem 2rem 0;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.2rem;
}

label {
  grid-column: 1 / 1;
}

legend + div,
label + div {
  grid-column: 2 / 4;
}

input,
textarea,
button {
  grid-column: 2 / 4;
  font-size: 1.8rem;
}

input,
textarea {
  opacity: 0.7;
  border: none;
  background-color: rgb(245, 247, 255);
}

form > button {
  grid-column: 1 / 4;
}
form > button:last-child {
  grid-column: 3 /4 ;
}
