article {
  border-bottom: 2px solid rgba(29, 29, 38, 0.05);
}

article > div:first-child {
  display: flex;
  justify-content: space-between;
}

article > div:first-child > div:first-child {
  display: flex;
  flex-direction: column;
}

article > div:last-child {
  display: flex;
  justify-content: flex-end;
}